---
interface Props {
  siteName?: string;
  siteDescription?: string;
}
const { siteName = "Site Name", siteDescription = "Site Description" } = Astro.props;
---
<div class="mx-auto max-w-2xl lg:mx-0">
    <h2
        class="text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl"
    >
        {siteName}
    </h2>
    <p class="mt-2 text-lg/8 text-gray-600">
        {siteDescription}
    </p>
</div>
